---
import A1 from "@/sections/home/A1";
import A2 from "@/sections/home/A2";
import B2 from "@/sections/manifesto/B2";
import C1 from "@/sections/portfolio/C1";
import C2 from "@/sections/portfolio/C2";

import Next from "@/components/ui/Next";
import Layout from "@/layouts/Layout.astro";

import { getImage } from "astro:assets";
import a1_a from "@/assets/a1/a.png";
import a2_a from "@/assets/a2/a.svg";
import b2_a from "@/assets/b2/a.png";
import c2_a from "@/assets/c2/a.svg";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const a1_a_image = await getImage({
  src: a1_a,
  format: "webp",
});

const a2_a_image = await getImage({
  src: a2_a,
  format: "svg",
});

const b2_a_image = await getImage({
  src: b2_a,
  format: "webp",
});

const c2_a_image = await getImage({
  src: c2_a,
  format: "svg",
});
---

<Layout>
  <div class="flex flex-col gap-20">
    <A1 imageSrc={a1_a_image.src} client:load />
    <A2 imageSrc={a2_a_image.src} t={t} translatePath={translatePath} />
    <B2 t={t} imageSrc={b2_a_image.src} />
    <C1 t={t} />
    <C2 t={t} imageSrc={c2_a_image.src} />
  </div>
  <Next title="Manifesto" href={translatePath("/manifesto")} />
</Layout>
